body {
    width: 500px;
    margin: 20px 0 0 25px;
}
.label {
    display: block;
    margin-bottom: 10px;
}
.field {
    display: block;
    margin-bottom: 15px;
    margin-top: 7px;
}
#gender {
    display: block;
    margin-bottom: 15px;
    margin-top: 7px;
}


.error-text {
    color: #ff0000;
    padding-left: 15px;
}